<div class="text-center padded">
  <h1 class="text-center">Your cocktail list</h1>
</div>

  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card text-center">
            <% if cocktail.photo? %>
              <div class="card-header" style="background-image: url('<%= cl_image_path cocktail.photo%>')">
              </div>
            <% else %>
              <div class="card-header" style="background-image: url('http://www.seriouseats.com/images/2014/11/20141104-cocktail-party-old-fashioneds-holiday-vicky-wasik-3.jpg')">
              </div>
            <% end %>
            <div class="card-body">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
